<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body style="background-color:#FFFFFF">
		<div class="login-form">
			<h1>Login</h1>
			<form action="auth" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit" id="loginbutton" value="Login">
			</form>
		</div>
	</body>
</html>